@import "../../App.scss";

.todo-list {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: $secondary-color;
    padding: 1rem;
    border-radius: 4px;
    gap: 1rem;
    transition:height 1s ease;
}

.todo-list h3 {
    margin: 0;
    color: $primary-color;
}

.todo-list .todos {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.todo-list .todos .todo {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.todo-list .todos .todo p{
    margin: 0;
    color: $accent;
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-weight: 600;
}

.todo-list .todos .todo input[type="checkbox"]:checked:before{
background-color:green;
}

.todo-list .todo-list-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
}