@import "../../App.scss";

.todo-list {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: $secondary-color;
    padding: 1rem;
    border-radius: 4px;
    gap: 1rem;
    transition:height 1s ease;
}

.todo-list h3 {
    margin: 0;
    color: $accent;
}

.todo-list.expanded h3{
    color: $primary-color !important
}

.todo-list .todos {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.todo-list .todo-list-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
}