@import "../../App.scss";

.calendar-body {
    height: 100%;
    overflow: auto;
    width: 100%;
    border-spacing: 0;
}

.calendar-body tr{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
}